<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Relative Url Template </h1>
<a href="{% url 'basic_app:other' %}">hello</a>
<a href="{% url 'admin:index' %}">from the other side</a>
<a href="{% url 'index' %}">la la la la la almal</a>

</body>
</html>